In [0]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline 
import numpy as np

In [0]:
data = pd.read_csv('./housing-prices/train.csv')
test = pd.read_csv('./housing-prices/test.csv')

In [115]:
data[0:3]

   Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape LandContour Utilities    ...     PoolArea PoolQC Fence MiscFeature MiscVal MoSold YrSold  SaleType  SaleCondition  SalePrice
0   1          60       RL         65.0     8450   Pave   NaN      Reg         Lvl    AllPub    ...            0    NaN   NaN         NaN       0      2   2008        WD         Normal     208500
1   2          20       RL         80.0     9600   Pave   NaN      Reg         Lvl    AllPub    ...            0    NaN   NaN         NaN       0      5   2007        WD         Normal     181500
2   3          60       RL         68.0    11250   Pave   NaN      IR1         Lvl    AllPub    ...            0    NaN   NaN         NaN       0      9   2008        WD         Normal     223500

[3 rows x 81 columns]

In [0]:
cat_columns = data.select_dtypes(['object']).columns
tcat_columns = test.select_dtypes(['object']).columns

In [117]:
data.select_dtypes(exclude='object')

        Id  MSSubClass  LotFrontage  LotArea  OverallQual  OverallCond  YearBuilt  YearRemodAdd  MasVnrArea  BsmtFinSF1    ...      WoodDeckSF  OpenPorchSF  EnclosedPorch  3SsnPorch  ScreenPorch  PoolArea  MiscVal  MoSold  YrSold  SalePrice
0        1          60         65.0     8450            7            5       2003          2003       196.0         706    ...               0           61              0          0            0         0        0       2    2008     208500
1        2          20         80.0     9600            6            8       1976          1976         0.0         978    ...             298            0              0          0            0         0        0       5    2007     181500
2        3          60         68.0    11250            7            5       2001          2002       162.0         486    ...               0           42              0          0            0         0        0       9    2008     223500
3        4          70         60.0     9550            7            5       1915          1970         0.0         216    ...               0           35            272          0            0         0        0       2    2006     140000
4        5          60         84.0    14260            8            5       2000          2000       350.0         655    ...             192           84              0          0            0         0        0      12    2008     250000
5        6          50         85.0    14115            5            5       1993          1995         0.0         732    ...              40           30              0        320            0         0      700      10    2009     143000
6        7          20         75.0    10084            8            5       2004          2005       186.0        1369    ...             255           57              0          0            0         0        0       8    2007     307000
7        8          60          NaN    10382            7            6       1973          1973       240.0         859    ...             235          204            228          0            0         0      350      11    2009     200000
8        9          50         51.0     6120            7            5       1931          1950         0.0           0    ...              90            0            205          0            0         0        0       4    2008     129900
9       10         190         50.0     7420            5            6       1939          1950         0.0         851    ...               0            4              0          0            0         0        0       1    2008     118000
10      11          20         70.0    11200            5            5       1965          1965         0.0         906    ...               0            0              0          0            0         0        0       2    2008     129500
11      12          60         85.0    11924            9            5       2005          2006       286.0         998    ...             147           21              0          0            0         0        0       7    2006     345000
12      13          20          NaN    12968            5            6       1962          1962         0.0         737    ...             140            0              0          0          176         0        0       9    2008     144000
13      14          20         91.0    10652            7            5       2006          2007       306.0           0    ...             160           33              0          0            0         0        0       8    2007     279500
14      15          20          NaN    10920            6            5       1960          1960       212.0         733    ...               0          213            176          0            0         0        0       5    2008     157000
15      16          45         51.0     6120            7            8       1929          2001         0.0           0    ...              48          112              0          0            0         0        0       7    2007     132000
16      17          20          NaN    11241            6            7       1970          1970       180.0         578    ...               0            0              0          0            0         0      700       3    2010     149000
17      18          90         72.0    10791            4            5       1967          1967         0.0           0    ...               0            0              0          0            0         0      500      10    2006      90000
18      19          20         66.0    13695            5            5       2004          2004         0.0         646    ...               0          102              0          0            0         0        0       6    2008     159000
19      20          20         70.0     7560            5            6       1958          1965         0.0         504    ...               0            0              0          0            0         0        0       5    2009     139000
20      21          60        101.0    14215            8            5       2005          2006       380.0           0    ...             240          154              0          0            0         0        0      11    2006     325300
21      22          45         57.0     7449            7            7       1930          1950         0.0           0    ...               0            0            205          0            0         0        0       6    2007     139400
22      23          20         75.0     9742            8            5       2002          2002       281.0           0    ...             171          159              0          0            0         0        0       9    2008     230000
23      24         120         44.0     4224            5            7       1976          1976         0.0         840    ...             100          110              0          0            0         0        0       6    2007     129900
24      25          20          NaN     8246            5            8       1968          2001         0.0         188    ...             406           90              0          0            0         0        0       5    2010     154000
25      26          20        110.0    14230            8            5       2007          2007       640.0           0    ...               0           56              0          0            0         0        0       7    2009     256300
26      27          20         60.0     7200            5            7       1951          2000         0.0         234    ...             222           32              0          0            0         0        0       5    2010     134800
27      28          20         98.0    11478            8            5       2007          2008       200.0        1218    ...               0           50              0          0            0         0        0       5    2010     306000
28      29          20         47.0    16321            5            6       1957          1997         0.0        1277    ...             288          258              0          0            0         0        0      12    2006     207500
29      30          30         60.0     6324            4            6       1927          1950         0.0           0    ...              49            0             87          0            0         0        0       5    2008      68500
...    ...         ...          ...      ...          ...          ...        ...           ...         ...         ...    ...             ...          ...            ...        ...          ...       ...      ...     ...     ...        ...
1430  1431          60         60.0    21930            5            5       2005          2005         0.0           0    ...             100           40              0          0            0         0        0       7    2006     192140
1431  1432         120          NaN     4928            6            6       1976          1976         0.0         958    ...               0           60              0          0            0         0        0      10    2009     143750
1432  1433          30         60.0    10800            4            6       1927          2007         0.0           0    ...               0            0              0          0            0         0        0       8    2007      64500
1433  1434          60         93.0    10261            6            5       2000          2000       318.0           0    ...               0            0              0          0            0         0        0       5    2008     186500
1434  1435          20         80.0    17400            5            5       1977          1977         0.0         936    ...             295           41              0          0            0         0        0       5    2006     160000
1435  1436          20         80.0     8400            6            9       1962          2005       237.0           0    ...               0           36              0          0            0         0        0       7    2008     174000
1436  1437          20         60.0     9000            4            6       1971          1971         0.0         616    ...               0            0              0          0            0         0        0       5    2007     120500
1437  1438          20         96.0    12444            8            5       2008          2008       426.0        1336    ...               0           66              0        304            0         0        0      11    2008     394617
1438  1439          20         90.0     7407            6            7       1957          1996         0.0         600    ...               0          158            158          0            0         0        0       4    2010     149700
1439  1440          60         80.0    11584            7            6       1979          1979        96.0         315    ...               0           88            216          0            0         0        0      11    2007     197000
1440  1441          70         79.0    11526            6            7       1922          1994         0.0           0    ...             431            0              0          0            0         0        0       9    2008     191000
1441  1442         120          NaN     4426            6            5       2004          2004       147.0         697    ...             149            0              0          0            0         0        0       5    2008     149300
1442  1443          60         85.0    11003           10            5       2008          2008       160.0         765    ...             168           52              0          0            0         0        0       4    2009     310000
1443  1444          30          NaN     8854            6            6       1916          1950         0.0           0    ...               0           98              0          0           40         0        0       5    2009     121000
1444  1445          20         63.0     8500            7            5       2004          2004       106.0           0    ...             192           60              0          0            0         0        0      11    2007     179600
1445  1446          85         70.0     8400            6            5       1966          1966         0.0         187    ...               0            0            252          0            0         0        0       5    2007     129000
1446  1447          20          NaN    26142            5            7       1962          1962       189.0         593    ...             261           39              0          0            0         0        0       4    2010     157900
1447  1448          60         80.0    10000            8            5       1995          1996       438.0        1079    ...               0           65              0          0            0         0        0      12    2007     240000
1448  1449          50         70.0    11767            4            7       1910          2000         0.0           0    ...             168           24              0          0            0         0        0       5    2007     112000
1449  1450         180         21.0     1533            5            7       1970          1970         0.0         553    ...               0            0              0          0            0         0        0       8    2006      92000
1450  1451          90         60.0     9000            5            5       1974          1974         0.0           0    ...              32           45              0          0            0         0        0       9    2009     136000
1451  1452          20         78.0     9262            8            5       2008          2009       194.0           0    ...               0           36              0          0            0         0        0       5    2009     287090
1452  1453         180         35.0     3675            5            5       2005          2005        80.0         547    ...               0           28              0          0            0         0        0       5    2006     145000
1453  1454          20         90.0    17217            5            5       2006          2006         0.0           0    ...              36           56              0          0            0         0        0       7    2006      84500
1454  1455          20         62.0     7500            7            5       2004          2005         0.0         410    ...               0          113              0          0            0         0        0      10    2009     185000
1455  1456          60         62.0     7917            6            5       1999          2000         0.0           0    ...               0           40              0          0            0         0        0       8    2007     175000
1456  1457          20         85.0    13175            6            6       1978          1988       119.0         790    ...             349            0              0          0            0         0        0       2    2010     210000
1457  1458          70         66.0     9042            7            9       1941          2006         0.0         275    ...               0           60              0          0            0         0     2500       5    2010     266500
1458  1459          20         68.0     9717            5            6       1950          1996         0.0          49    ...             366            0            112          0            0         0        0       4    2010     142125
1459  1460          20         75.0     9937            5            6       1965          1965         0.0         830    ...             736           68              0          0            0         0        0       6    2008     147500

[1460 rows x 38 columns]

In [0]:
data[cat_columns] = data[cat_columns].astype('category')
# data[bool_columns] = data[bool_columns].astype('int')

test[tcat_columns] = test[tcat_columns].astype('category')

In [0]:
data[cat_columns] = data[cat_columns].apply(lambda x: x.cat.codes)
test[tcat_columns] = test[tcat_columns].apply(lambda x: x.cat.codes)

In [0]:
# data.hist(column=10, by=None, grid=True, xlabelsize=None, xrot=None, ylabelsize=None, yrot=None, ax=None, sharex=False, sharey=False, figsize=None, layout=None, bins=10)
data.hist(figsize=(20,25))

In [0]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LinearRegression

In [0]:
from sklearn.preprocessing import Imputer
imp = Imputer(missing_values='NaN', strategy='mean', axis=0)
imp.fit(data)
imp.fit(test)
data.fillna(0, inplace=True)
test.fillna(0, inplace=True)

In [0]:
X = data.drop(['Id', 'SalePrice'], axis=1)
y = data['SalePrice']

test = test.drop(['Id'], axis=1)

In [0]:
 X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [0]:
model = LinearRegression()

In [141]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [142]:
model.predict(X_train)

array([137877.9862623 , 184176.78873645, 110108.77840167, ...,
       117882.19380212, 166318.612862  , 203608.80906339])

In [143]:
model.score(X_test, y_test)

0.8187017930012577

In [0]:
prediction = model.predict(test)

In [0]:
b = np.dstack(( np.arange(1461, 2920), prediction ))[0]

In [0]:
np.savetxt('housing_submission.csv', b, fmt="%d,%f", newline='\r\n', header='Id,SalePrice', comments='')

In [0]:
def rmsle(y_pred, y_test) : 
    assert len(y_test) == len(y_pred)
    return np.sqrt(np.mean((np.log1p(y_pred) - np.log1p(y_test))**2))

In [169]:
rmsle(model.predict(X_train), y_train)

0.14393865829852068